<html>
<head>
  <title>青年大学习第11季第{{ dxxNumberPost }}期</title>
  <style>
    @media (prefers-color-scheme: dark) {
      html {
        background-color: black;
      }
  
      body {
        filter: invert(1) hue-rotate(180deg);
      }
    }
  
  
  
    @media not (prefers-color-scheme: dark) {
      html {
        background-color: white;
      }
    }
  </style>
</head>

<body>
  <h1 style="text-align:center;font-size:100px;">上传成功，青年大学习第{{ dxxNumberPost }}期截图已经交给宋远伟了</h1>
  <center>
  <img style="text-align:center;width: 100%;"src="/modified/{{ dxxImgUrl }}" />
  </center>
</body>

</html>
